<div class="card hide" id="profilecard">
        <div class="card-body">
                <% if (user.profilePic == '') { %>
                        <img src="/images/no-user-100.png" alt="No Profile Picture" class="rounded-circle">
                <% } else { %>
                        <img src="/images/<%= user.profilePic %>" alt="Profile Picture" class="rounded-circle">                        
                <% } %>
                <h5 class="card-title"><%= user.prefix %> <%= user.firstName %> <%= user.middleName %> <%= user.lastName %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= user.designation %></h6>
                <p class="card-subtitle mb-2 text-muted">Dept. of <%= user.department %></h6>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="/dashboard/<%= user._id %>/edit-profile">Edit Profile</a></li>
                        <li class="list-group-item"><a href="/dashboard/<%= user._id %>/edit-password">Change Password</a></li>
                        <li class="list-group-item"><a href="/">Sign Out</a></li>
                </ul>
        </div>
</div>