<%- include('./partials/header_admin') %>
<div class="container-fluid">
        <div class="row">
                <%- include('./partials/left-menubar_admin', {active: 'dashboard'})  %>  
                
                <!-- Main Content-->
                <div class="col-10 offset-2">
                        <div class="container mt-5">
                                <div class="row justify-content-center">
                                        <div class="col-10 text-center">
                                                <h2>Active Users</h2><hr>
                                                <h5>This is a summarized list of all active users registered to the system</h5>
                                        </div>
                                        <div class="col-10">
                                                <% if (users.length > 0) { %>
                                                        <table class="table table-hover mt-3">
                                                                <thead class="table-primary">
                                                                        <tr>
                                                                                <th scope="col">#</th>
                                                                                <th scope="col">Name</th>
                                                                                <th scope="col">Email Address</th>
                                                                                <th scope="col">Designation</th>
                                                                                <th scope="col">Department</th>
                                                                        </tr>
                                                                </thead>
                                                                <tbody>
                                                                        <% users.forEach((user, index) => { %>
                                                                                <tr>
                                                                                        <th scope="row"><%= index+1 %> </th>
                                                                                        <td><%= user.prefix %> <%= user.firstName %> <%= user.middleName %> <%= user.lastName %> </td>
                                                                                        <td><%= user.email %> </td>
                                                                                        <td><%= user.designation %></td>
                                                                                        <td><%= user.department %></td>
                                                                                </tr>
                                                                        <% }) %>
                                                                </tbody>
                                                        </table>
                                                <% } %>
                                        </div>
                                </div>      
                        </div>
                </div>
        </div>
</div>

<%- include('./partials/foot') %>