<%- include('./partials/header.ejs', {user: user}) %>
<div class="container-fluid">
        <div class="row">
                <%- include('./partials/left-menubar', {active: 'all-documents', user: user}) %> 
                <%- include('./partials/profile-card', {user: user}) %>

                <!-- Main Content -->
                <div class="col-10 offset-2">
                        <div class="container mt-5">
                                <div class="row justify-content-center">
                                        <div class="col-10">
                                                <h2>All Documents</h2><hr>
                                                <% if (user.all.length == 0) { %>
                                                        <h5>We do not have any documents to show you currently</h5>
                                                        <p></p>
                                                        <div class="col-10">
                                                                <p>You can start creating a <strong>new document</strong> following these easy steps:</p>
                                                                <ul>
                                                                        <p><em class="bi bi-arrow-right-circle"></em>&ensp;Click on the <a href="/dashboard/<%= user.id %>/create-new-doc">Create New Document</a> button on the header to access the "Create New Document" page</p>
                                                                        <p><em class="bi bi-arrow-right-circle"></em>&ensp;First, make sure to take a note of the "Document ID" that is system generated and uniquely identifies your document</p>
                                                                        <p><em class="bi bi-arrow-right-circle"></em>&ensp;Then, start by filling in the "Subject Line" that summarizes your document content</p>
                                                                        <p><em class="bi bi-arrow-right-circle"></em>&ensp;Choose the recipient of the document from the drop-down list</p>
                                                                        <p><em class="bi bi-arrow-right-circle"></em>&ensp;You can either choose to instantly write your document body in the integrated text editor or upload a .pdf document that you've already written</p>
                                                                        <p><em class="bi bi-arrow-right-circle"></em>&ensp;Finally, you can either save your document as a draft by clicking on the "Save for Later" button or you can immediately send it to the recipient by simply clicking on the "Send Now" button</p>
                                                                </ul>
                                                        </div>                                         
                                                <% } %>

                                        </div>
                                </div>

                                <% if (user.all.length) { %>
                                        <div class="row justify-content-around">
                                                <div class="col-10"></div>
                                        </div>
                                        
                                        <div class="row justify-content-center">
                                                <div class="col-10 mt-3 mb-3">
                                                        <table class="table table-hover">
                                                                <thead class="table-primary">
                                                                        <tr>
                                                                                <th scope="col">Document ID</th>
                                                                                <th scope="col">Document Subject</th>
                                                                                <th scope="col">Current Status</th>
                                                                                <th scope="col">Date Modified</th>   
                                                                        </tr>
                                                                </thead>
                                                                <tbody>
                                                                        <% docs.forEach((doc,index) => { %>
                                                                                <tr>
                                                                                        <td><a href="/dashboard/<%= user._id %>/<%= doc._id %>"><%= doc._id %></a> </td>
                                                                                        <td><%= doc.subject %></td>
                                                                                        <% var currentStatus="" %>
                                                                                        <% for(var i=0;i<user.drafts.length;i++){ %>
                                                                                                <% if(user.drafts[i]==doc.id){ %>
                                                                                                        <% currentStatus=doc.documentBody[doc.documentBody.length-1].from.name %>
                                                                                                        <% } %>
                                                                                                <% } %>
                                                                                        <% if(currentStatus==""){ %>
                                                                                                <% currentStatus=doc.documentBody[doc.documentBody.length-1].to.name; %>
                                                                                                <% } %>
                                                                                        <td><%= currentStatus %></td>
                                                                                        <td><%= doc.documentBody[doc.documentBody.length-1].addedOn %></td>
                                                                                </tr>
                                                                        <% }) %>
                                                                </tbody>
                                                        </table>
                                                </div>
                                        </div>                                 
                                <% } %>
                        </div>
                </div>
        </div>
</div>

<%- include('./partials/foot') %>