<%- include('./partials/header', {user: user}) %>
<div class="container-fluid">
        <div class="row">
                
                <%- include('./partials/left-menubar', {active: 'pending', user: user})  %>  
                <%- include('./partials/profile-card', {user: user}) %>
                <%- include('./partials/summary-modal', {user: user}) %>
                
                <!-- Main Content-->
                <div class="col-10 offset-2">
                        <div class="container mt-5">
                                <div class="row justify-content-center">
                                        <div class="col-10">
                                                <h2>Pending Documents</h2>
                                                <p>Seems like you have some works pending</p>
                                        </div>
                                </div>
                                
                                <div class="row justify-content-center">
                                        <div class="col-10">
                                                <table class="table table-striped">
                                                        <thead class="thead-light">
                                                                <tr>
                                                                        <th scope="col">Document ID</th>
                                                                        <th scope="col">Document Subject</th>
                                                                        <th scope="col">Date Received</th>
                                                                        <th scope="col">Received From</th>
                                                                </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                </table>
                                        </div>
                                </div>
                        </div>
                </div>

        </div>
</div>
<script type="text/javascript">
        $(window).on('load', function() {
                $('#summaryModal').modal('show');
        });
</script>

<%- include('./partials/foot') %>