<%- include('./partials/header', {user: user}) %>
<div class="container-fluid">
        <div class="row">
                
                <%- include('./partials/left-menubar', {active: 'pending', user: user})  %>  
                <%- include('./partials/profile-card', {user: user}) %>
                
                <!-- Main Content-->
                <div class="col-10 offset-2">
                        <div class="container mt-5">
                                <div class="row justify-content-center">
                                        <div class="col-10">
                                                <h2 class="text-center">Edit Profile</h2><hr>
                                                <p class="text-center">Please note any changes you make to your profile details will be reflected in the entire system</p>
                                                <div class="row">
                                                        <div class="col-12 col-md-10 offset-md-1">
                                                                <%- include('./partials/edit-profile-form', {user: user}) %>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                
                        </div>
                </div>

        </div>
</div>

<%- include('./partials/foot') %>