<%- include('./partials/header', {user: user}) %>
<div class="container-fluid">
        <div class="row">
                <%- include('./partials/left-menubar', {active: 'resolved', user: user})  %>  
                <%- include('./partials/profile-card', {user: user}) %>

                <div class="col-10 offset-2">
                        <div class="container mt-5">
                                <div class="row justify-content-center">
                                        <div class="col-10">
                                                <h2>Resolved Documents</h1><hr> 
                                                <% if (user.resolved.length) { %>
                                                        <h5>These are the resolved/inactive documents</h5>
                                                <% } else { %>
                                                        <h5>None of your documents got resolved recently!</h5>
                                                        <div class="col-10">
                                                                <p>By the meantime you can check out your other documents by following this quick links:</p>
                                                                <ul>
                                                                        <p><em class="bi bi-arrow-right-circle"></em>&ensp;Want to finish the <strong>pending</strong> documents? Click <a href="/dashboard/<%= user.id %>/pending">here</a> </p>
                                                                        <p><em class="bi bi-arrow-right-circle"></em>&ensp;Want to check status of your <strong>forwarded</strong> documents? Click <a href="/dashboard/<%= user.id %>/forwarded">here</a> </p>
                                                                        <p><em class="bi bi-arrow-right-circle"></em>&ensp;Want to complete the <strong>draft</strong> you started last time? Click <a href="/dashboard/<%= user.id %>/forwarded">here</a> </p>
                                                                        <p><em class="bi bi-arrow-right-circle"></em>&ensp;Want to create a <strong>new document</strong>? Click <a href="/dashboard/<%= user.id %>/create-new-doc">here</a> </p>
                                                                        <p><em class="bi bi-arrow-right-circle"></em>&ensp;Want to check status of your <strong>authored</strong> documents? Click <a href="/dashboard/<%= user.id %>/authored">here</a> </p>
                                                                        <p><em class="bi bi-arrow-right-circle"></em>&ensp;Want to search through <strong>all</strong> of your documents? Click <a href="/dashboard/<%= user.id %>/all-documents">here</a> </p>
                                                                </ul>
                                                        </div>
                                                <% } %>
                                        </div>
                                </div>
                                
                                <% if (user.resolved.length) { %>
                                        <div class="row justify-content-center">
                                                <div class="col-10 mt-3 mb-3">
                                                        <table class="table table-hover">
                                                                <thead class="table-primary">
                                                                        <tr>
                                                                                <th scope="col">Document ID</th>
                                                                                <th scope="col">Document Subject</th>
                                                                                <th scope="col">Date of Resolve</th>
                                                                                <th scope="col">Resolved by</th>
                                                                        </tr>
                                                                </thead>
                                                                <tbody>
                                                                        <% docs.forEach(doc=> { %>
                                                                                <tr>
                                                                                        <td><a href="/dashboard/<%= user._id %>/<%= doc._id %>"><%= (doc.d_id == undefined)? doc._id: doc.d_id %></a> </td>
                                                                                        <td><%= doc.subject %> </td>
                                                                                        <td><%= doc.documentBody[doc.documentBody.length-1].addedOn.toString().substring(4, 25)%></td>
                                                                                        <td><%= doc.documentBody[doc.documentBody.length-1].from.name %></td>
                                                                                </tr>
                                                                        <% }) %>
                                                                </tbody>
                                                        </table>
                                                </div>
                                        </div>
                                <% } %>
                        </div>
                </div>
        </div>
</div>

<%- include('./partials/foot') %>